

a{
    text-decoration: none;
}
.rsvp_page{
    text-align: center;
    color:black;
    border: 2px solid black;
    background:rgba(255,255,255, 0.8);
    
    /* div width */
    width: 60%;
    /* keeps centered somehow idfk */
    position: relative;
    /* centers content horizontally */
    left: 50%;
    transform: translate(-50%);

    /* margin to top and bottom so it looks tidy */
    margin-top: 1%;
    margin-bottom: 1%;
}

.form_rsvp{
    text-align: left; 
    padding: 10px 18px;
}

